h1.title a {
  display: block;
  text-indent: -999em;
  background: transparent url('/img/elm-logo.png') no-repeat 0 0;
  height: 100px;
  width: 200px;
}

div.tagline h4 {
  font-style: italic;
  
}
