---
layout: default
---

<div class='listing col6 pad4h margin3'>

<h2>Upcoming events</h2>
{% for item in site.categories.events reversed %}
	<p><a class='item' href='{{site.baseurl}}{{item.url}}'>{{item.title}}</a><br />
	<span class='date'>{{item.date | date:"%I:%M %p, %A, %B %d, %Y"}} @ {{item.location_name}}</span></p>
{% endfor %}

<h2>Latest blog entries</h2>    
{% for item in site.categories.blog limit:1 %}
	<p><a class='item' href='{{site.baseurl}}{{item.url}}'>{{item.title}}</a><br />
	<span class='date'>Posted {{item.date | date:"%b %d %Y"}}</span></p>
{% endfor %}
</div>

{% include rss-link.html %}
