---
title: 'Elm Ensemble'
---
<!DOCTYPE html>
<html>
<head>
  <title>{{site.title}} {% if page.url != '/index.html' %}| {{page.title}}{% endif %}</title>
  <meta charset='UTF-8'/>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <link rel='alternate' type='application/rss+xml' title='RSS' href='http://elmensemble.org/blog.rss' />
  <link rel='shortcut icon' href='{{site.baseurl}}/img/favicon.ico' type='image/x-icon' />
  <link href='{{site.baseurl}}/site.css' rel='stylesheet' />
  <link href='{{site.baseurl}}/custom.css' rel='stylesheet' />
</head>
<body>
  <div class='container'>
    <div class='col12 clearfix'>
      <div class='header col12 pad4h'>
        <div class='clearfix col12'>
          <div class='col2 menu fr'>
		  <ul>
		  <li><a href="/">Home</a></li>
            <li><a class='{% if page.section == "events" %}active{% endif %}' href='{{site.baseurl}}/events'>Events</a></li>
            {% if site.categories.blog != null%}
            <li><a class='{% if page.section == "blog" %}active{% endif %}' href='{{site.baseurl}}/blog'>Blog</a></li>
            {% endif %}
            <li><a class='{% if page.url == "about/" %}active{% endif %}' href='{{site.baseurl}}/about'>About Elm</a></li>
            <li><a class='{% if page.url == "contact/" %}active{% endif %}' href='{{site.baseurl}}/contact'>Contact</a></li>
          </ul>
		  </div>

<div class='logo col4'><h1 class='title'><a href='{{site.baseurl}}/'>{{site.title}}</a></h1></div>
          <div class='tagline col6'>
          <div class='pad1'>
          <h4>The Elm Ensemble performs the music of early Lutheranism and other early 
          repertoire in liturgical settings. Josh and Sally Messner, directors.</h4></div></div>
          
        </div>
      </div>
    </div>
    {{content}}
  </div>
  <script src='{{site.baseurl}}/site.js'></script>
</body>
