---
layout: default
section: events
---

{% if page.splash %}
  {% if page.splash contains 'http' %}
    {% capture url %}{{page.splash}}{% endcapture %}
  {% else %}
    {% capture url %}{{site.baseurl}}{{page.splash}}/{% endcapture %}
  {% endif %}

  <div class='col12 splash'>
    <img src='{{url}}' alt='' />
  </div>
{% endif %}

<div class='listing col12 pad4h event'>
  <div class='heading'>
    <h1>{{page.title}}</h1>
  </div>

  <div class='col6 heading'> 
    <h5>When:</h5>
    <p>{{page.date |  date:"%-I:%M %p, %A, %B %-d, %Y" }}</p>
  </div>
  
  <div class='col6 heading'>
  	<h5>Where:</h5>
        <p>
	{{page.location_name}} - <a href="{{page.location_url}}">MAP</a><br />
	{{page.location_address}}
	</p>
  </div>


  <div class='prose clearfix'>
    {{content}}
  </div>

  
</div>
