---
layout: default
section: events
---

{% if page.splash %}
  {% if page.splash contains 'http' %}
    {% capture url %}{{page.splash}}{% endcapture %}
  {% else %}
    {% capture url %}{{site.baseurl}}{{page.splash}}/{% endcapture %}
  {% endif %}

  <div class='col12 splash'>
    <img src='{{url}}' alt='' />
  </div>
{% endif %}

<div class='listing col6 pad4h margin3'>
  <div class='heading'>
    <h1>{{page.title}}</h1>
  </div>

	<p>{{page.date |  date:"%-I:%M %p, %A, %B %-d, %Y" }}</p>
	<p>
	{{page.location_name}}<br />
	{{page.location_address}}<br />
	<a href="{{page.location_url}}">MAP</a>
	</p>
  
  <div class='prose'>
    {{content}}
  </div>
</div>

{% include rss-link.html %}


