---
title: Upcoming Events
layout: default
published: true
---

<div class='listing col12 pad4h'>

{% assign unarchived_events = site.events | where: "archived", false, | sort: "date" %}
{% assign archived_events = site.events | where: "archived", true, | sort: "date" %}

<h2>Upcoming Events</h2>
  {% for item in unarchived_events %}
  <h3><a class='item' href='{{site.baseurl}}{{item.url}}'>{{item.title}}</a></h2>
  <p><strong>{{item.date | date:"%-I:%M %p, %A, %B %-d, %Y" }}</strong> @ <a href="{{item.location_url}}">{{item.location_name}}</a></p>
  {{item.content}}
{% endfor %}

<div id="event-archive">
<h2>Archived Events</h2>
  <ul>
  {% for item in archived_events reversed %}
    <li><a href='{{site.baseurl}}{{item.url}}'>{{item.title}}</a> - {{item.date | date:"%-I:%M %p, %A, %B %-d, %Y" }}<br />
      {{item.content}}</li>
  {% endfor %}
  </ul>
</div>

</div>
